[user]
	name = Erwan Richard
	email = erwann.richard@gmail.com
[color]
	ui = true
[alias]
    st = status
    c  = commit
    cm = commit -m
    br = branch
    co = checkout
    d  = diff
    dp = diff -p
    lg = log -p
    lo = log --oneline
    amend = commit --amend
    ap = add -p
[core]
	editor = vim
	sharedRepository = umask
	autocrlf = input
    filemode = false