"*":
  "atom-autocomplete-php":
    binComposer: "/home/roussillep/bin/composer"
  "atom-material-ui":
    colors:
      abaseColor: "#72a882"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  core:
    disabledPackages: [
      "language-gfm"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "web/compiled"
      "web/medias"
      "app/cache"
      "app/var"
      "app/logs"
      "var/cache"
      "var/logs"
      "web/bundles"
      "web/image"
    ]
    packagesWithKeymapsDisabled: [
      "fuzzy-finder"
    ]
    projectHome: "/home/roussillep/sandbox"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontSize: 13
    showInvisibles: true
  "exception-reporting":
    userId: "87320729-c39a-481f-a5aa-43274d3a63ab"
  "fuzzy-finder": {}
  "php-integrator-base":
    phpCommand: "php7.0"
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
    savePathsRelativeToHome: true
  "todo-show":
    ignoreThesePaths: [
      "node_modules"
      "vendor"
      "bower_components"
      "public/libs"
    ]
  welcome:
    showOnStartup: false
