"*":
  "atom-material-ui":
    colors: {}
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    disabledPackages: [
      "language-gfm"
    ]
    projectHome: "/home/roussillep/sandbox"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontSize: 13
    showInvisibles: true
  "exception-reporting":
    userId: "87320729-c39a-481f-a5aa-43274d3a63ab"
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
    savePathsRelativeToHome: true
  "todo-show":
    ignoreThesePaths: [
      "node_modules"
      "vendor"
      "bower_components"
      "public/libs"
    ]
  welcome:
    showOnStartup: false
